@model WebApplication1.ViewModels.EcpayViewModel
@{
    ViewBag.Title = "Index";
}

<h2>test</h2>
<div>
    <p>ChoosePayment :  @Model.ChoosePayment</p>
    <p>MerchantID :  @Model.MerchantID</p>
    <p>MerchantTradeNo :  @Model.MerchantTradeNo</p>
    <p>MerchantTradeDate :  @Model.MerchantTradeDate</p>
    <p>PaymentType :  @Model.PaymentType</p>
    <p>TotalAmount :  @Model.TotalAmount</p>
    <p>TradeDesc :  @Model.TradeDesc</p>
    <p>ItemName :  @Model.ItemName</p>
    <p>ReturnURL :  @Model.ReturnURL</p>
    <p>CheckMacValue :  @Model.CheckMacValue</p>
    <p>EncryptType :  @Model.EncryptType</p>
</div>
