@model DataBasePrac.Models.Member01

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Member01</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPwd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPwd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Delete", "Delete", new { id = Model.UserID }, new { @class = "btn btn-danger" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</p>
