@model NewGuestbook.Models.Guestbook

@{
    ViewBag.Title = "留言";
}

<style>
    .select {
        width: 70px;
        height: 34px;
        color: black;
        background-color: white;
        border-radius: 5px;
        border-color:darkgray;
        font-size:15px;
    }
    .option {
        border-radius: 5px;
    }
</style>

<h2 style="font-family:DFKai-sb;">留言</h2>


@using (Html.BeginForm("Write", "Guestbooks", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal bg-warning">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Label, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="label" class = "select">
                    <option style="background-color:white;color:black"selected>-></option>
                    <option style="background-color:lightgray">推</option>
                    <option style="background-color: purple">噓</option>
                    <option style="background-color: red">喜歡</option>
                    <option style="background-color: darkorange">分享</option>
                    <option style="background-color: darkseagreen">討厭</option>
                    <option style="background-color: slategrey">難過</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="留言" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("回留言板", "Index", null, new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
