@model IEnumerable<DataBasePrac.Models.Member01>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("建立新資料", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserEmail)
        </th>
        <th class="text-right"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td></td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td class="text-right">
                @Html.ActionLink("Edit", "Edit", new { id = item.UserID }, new { @class = "btn btn-primary" })
                <button class="btn btn-success" data-toggle="modal" data-target="#EditBD" value="@item.UserID" onclick="EditBD(this.value);">
                    詳細資料
                </button>
                @Html.ActionLink("Delete", "Delete", new { id = item.UserID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<!--編輯基本資料樣板 modal-->
<div class="modal fade" id="EditBD" tabindex="-1" role="dialog" aria-labelledby="EditBDhead" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width:80%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditBDhead">
                    <span id="EditBDTitle">詳細資料</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body" id="EditBD_body"></div>
        </div>
    </div>
</div>

<script>
    function EditBD(UserID) {
        $.ajax({
            type: "GET",
            data: { id: UserID, FormView: "Index" },
            url: "@Url.Action("ParticalDetail", "Member01")",
            beforeSend: function () {
                $("#EditBD_body").html("");
                $("#EditBD_body").html("<div><img src=' ../Content/loading.gif' style='max-width:100%;max-length:100%;posotion:center;'>&nbsp;&nbsp;資料讀取中</div>");
                },
            success: function (result) {
                $("#EditBD_body").html(result);
            },
            error: function (error) {
                alert(error);
            }
        });
    }
</script>